<div id="wrapper">
    <h1>弑神联盟 - Godslayers  </h1>
    <h2><strong>弑神联盟</strong><sub>Focus on the indicators</sub><b class="logoline"></b><b class="logoline1"></b><b class="logoline2"></b><b class="logoline3"></b><b class="logoline4"></b></h2>
    <!--时间区-->
    <div class="date-timer">
        <p><strong>&nbsp;{{currentTime | date:'HH:mm' }}</strong></p>
        <em id="D">{{currentTime | date:'EEEE'}}</em>
        <ul><li>{{currentTime | date:'MMMM dd, yyyy'}}</li></ul>
    </div>
    <div class="big-index-1">
        <ul>
            <li (click)="active=0;" >
                <b class="animation-1"></b><b class="{{active==0 ? 'animation-focus':'animation-2'}}"></b><b class="animation-3"></b>
                <p>INDEX</p>
                <strong [ngClass]="{focus:active==0}">首页</strong>
            </li>
            
            <li (click)="active=1;">
                <b class="animation-1"></b><b class="{{active==1 ? 'animation-focus':'animation-2'}}"></b><b class="animation-3"></b>
                <p>CASE SHOW</p>
                <strong [ngClass]="{focus:active==1}">案例展示</strong>
            </li>
            <li (click)="active=2;">
                <b class="animation-1"></b><b class="{{active==2 ? 'animation-focus':'animation-2'}}"></b><b class="animation-3"></b>
                <p>SUPPORT</p>
                <strong [ngClass]="{focus:active==2}">服务/支持</strong>
            </li>
            <li (click)="active=3;">
                <b class="animation-1"></b><b class="{{active==3 ? 'animation-focus':'animation-2'}}"></b><b class="animation-3"></b>
                <p>GESTBOOK</p>
                <strong [ngClass]="{focus:active==3}">在线留言</strong>
            </li>
            <li (click)="active=4;">
                <b class="animation-1"></b><b class="{{active==4 ? 'animation-focus':'animation-2'}}"></b><b class="animation-3"></b>
                <p>ABOUT US</p>
                <strong [ngClass]="{focus:active==4}">关于我们</strong>
            </li>
            <li (click)="active=5;">
                <b class="animation-1"></b><b class="{{active==5 ? 'animation-focus':'animation-2'}}"></b><b class="animation-3"></b>
                <p>JOIN US</p>
                <strong [ngClass]="{focus:active==5}">加入我们</strong>
            </li>
        </ul>
    </div>
    <div class="right-area">
        <h3>弑神系统性能评估 <b></b></h3>
        <div class="area-inbox-1">
            <dl>
                <dt>逻辑预测准确率</dt>
                <dd class="font12"><span>76.525%</span><b></b></dd>
                <dt class="ml-20">语音识别准确率</dt>
                <dd class="font-red ml-20"><span>99.913%</span><b></b></dd>
                <dt>图片处理准确率</dt>
                <dd><span>98.815%</span><b></b></dd>
            </dl>
            <div class="round-1"></div>
            <div class="round-2"></div>
            <div class="round-3">99%</div>
            <div class="round-4"></div>
        </div>
        <div class="area-inbox-2">
            <div class="area-text">
                <b class="animation-line1"></b>
                <h4>最新动态:</h4>
                <p class="text_container">
                    {{msg}}
                </p>
                <b class="animation-line2"></b>
            </div>
        </div>
    </div>

    <div class="submenu">
        <ul>
            <li><a href="#this"><b>※</b><span>网站首页<em></em></span></a> </li>
            <li><a href="#this" class="active"><b>※</b><span>服务/支持<em></em></span></a> </li>
            <li><a href="#this"><b>※</b><span>关于我们<em></em></span></a> </li>
            <li><a href="#this"><b>※</b><span>加入我们<em></em></span></a> </li>
        </ul>
    </div>

    <div class="center-area info">
        <!-- <div class="decorate_left_top"><img src="../assets/images/img08.png"></div> -->
        <div class="decorate_left_top_two"><img src="../assets/images/img09.png"></div>
        <div class="decorate_left_foot"><img src="../assets/images/img07.png"></div>
        <div class="decorate_right_top"><img src="../assets/images/img07.png"></div>
        <router-outlet>
            <p style="-webkit-animation-iteration-count: infinite;  -webkit-animation-name:inout_ ; -webkit-animation-duration: .1ms;font-size:52px;font-family:inherit;left:0px;width:100%;text-align:center;top:32%;position: absolute;color:red;">警告: 需要授权!</p>
            <p style="-webkit-animation-iteration-count: infinite;  -webkit-animation-name:inout_ ; -webkit-animation-duration: .1ms;font-size:52px;font-family:inherit;left:0px;width:100%;text-align:center;top:48%;position: absolute;color:red;">Warning: Authorization Needed!</p>
        </router-outlet>
        
    </div>

    <footer class="time-base-outer">
        <b class="line1"></b>
        <div class="time-base">
            <p>© 2018 Godslayers - All Rights Reserved</p>
        </div>
        <b class="line2"></b>
    </footer>
</div>